soundcloud-user("bitcoin-and")(show_comments=false, auto_play=true,show_teaser=false)

mixin soundcloud-user(id)
  - if ("alt" in attributes)
    - alt = attributes.alt;
    - delete attributes.alt;
  - else
    - alt = true;
  - if ("color" in attributes)
    - color = attributes.color;
    - delete attributes.color;
  - else
    - color = "ff8800";
  - if ("auto_play" in attributes)
    - auto_play = attributes.auto_play;
    - delete attributes.auto_play;
  - else
    - auto_play = false;
  - if ("hide_related" in attributes)
    - hide_related = attributes.hide_related;
    - delete attributes.hide_related;
  - else
    - hide_related = false;
  - if ("show_comments" in attributes)
    - show_comments = attributes.show_comments;
    - delete attributes.show_comments;
  - else
    - show_comments = true;
  - if ("show_user" in attributes)
    - show_user = attributes.show_user;
    - delete attributes.show_user;
  - else
   - show_user = true;
   - if ("show_reposts" in attributes)
    - show_reposts = attributes.show_reposts;
    - delete attributes.show_reposts;
  - else
   - show_reposts = false;
  - if ("show_teaser" in attributes)
    - show_teaser = attributes.show_teaser;
    - delete attributes.show_teaser;
  - else
      - show_teaser = true;


doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='bitcoin gaming biology')
        meta(name='author', content='David Bennett')

        title Bitcoin And...

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='./index.html') Bitcoin And...
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='./index.html') Home
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='./playlist.html') Playlist
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='./numbers.html') Numbers
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='./bio.html') Bio

                    // Masthead
    header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='https://i1.sndcdn.com/avatars-000517815285-cu2afv-t500x500.jpg', alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Bitcoin And...
                // Masthead Subheading
                .divider-custom.divider-light
                p.masthead-subheading.font-weight-light.mb-0 BITCOIN - GAMING - BIOLOGY
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    .divider-custom-line

                //iframe(src=`https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/${id}&color=%23${color}&auto_play=${auto_play}&hide_related=${hide_related}&show_comments=${show_comments}&show_user=${show_user}&show_reposts=${show_reposts}&show_teaser=${show_teaser}`
                iframe(src=`https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/108074218&color=%23${color}&auto_play=${auto_play}&hide_related=${hide_related}&show_comments=${show_comments}&show_user=${show_user}&show_reposts=${show_reposts}&show_teaser=${show_teaser}`
                            width="100%"
                            height="100%"
                            scrolling="no"
                            frameborder="no"
                            allow="autoplay")&attributes(attributes)
                       - if (alt)
                           | Your browser does not support iframes.

                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                        i.fas.fa-star
                    .divider-custom-line
    // Footer
    footer.footer.text-center
            .container
                .row
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Twitter
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://twitter.com/bennd77')
                            i.fab.fa-fw.fa-twitter
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Soundcloud
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://soundcloud.com/bitcoin-and')
                            i.fab.fa-fw.fa-soundcloud
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 David Bennett
                        p.lead.mb-0
                            | BIOLOGIST - BITCOINER - TEXAN
    // Copyright Section
    div.copyright.py-4.text-center.text-white
            .container
                small Copyright © BitcoinAnd.net | David Bennett 2020
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up


    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')


    // Core theme JS
    script(src='js/scripts.js')


